<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
          </div>
            <div class="col-md-4">
              <span class="copyright">Copyright&nbsp;© Joshua Pritchett 2023</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item"><a href="https://github.com/Ambrgna"><i class="bi bi-github"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/josh-pritchett-457059201/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
      </div>
  </div>
</footer>