<section class="bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 d-flex align-items-center">
                <h4>{{text}}</h4>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/me.jpg">
                    <h4>{{name}}</h4>
                    <br>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="{{github}}"><i class="bi bi-github"></i></a></li>
                        <li class="list-inline-item"><a href="{{linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>